<h1>Users</h1>

<h2>Click each user name to destroy and edit user</h2>
<ul>
  <% @user.each do |user| %>
    <li>
      <%= link_to user.username, user %>
      <%= user.email %>
      <% user.posts.each do |post| %>
        <p>
          <strong>Title:</strong>
          <%= post.title %>
        </p>

        <p>
          <strong>Post:</strong>
          <%= post.body %>
        </p>
        <ul>
          <% post.comments.each do |comment| %>
            <li>
            <p>
              <strong>Commenter:</strong>
              <%= User.find(comment.user_id).username %>
              <strong>Comment:</strong>
              <%= comment.body %>
            </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<form action="<%= new_user_path %>">
  <button >Sign Up as New User</button>
</form>
